.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    button {
        background: var(--main-bg-header);
        color: white;
        padding: 1rem 1.5rem;
        border: none;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 700;
        width: 100%;
        max-width: 400px;
        font-family: var(--main-font-rubik);
        cursor: pointer;
    }
}
