<section class="search">
    <form name="formSearch" [formGroup]="searchForm">
        <div class="form-field">
            <input
                id="search"
                type="text"
                name="search"
                formControlName="query"
                [attr.aria-label]="ariaLabel ? ariaLabel : label"
                [required]="required"
                autocomplete="off"
            />
            <label for="search" [innerText]="label"></label>

            <ng-container *ngIf="!hiddenDropdown">
                <ul class="dropdown">
                    <ng-template
                        #listHeroes
                        [ngTemplateOutlet]="listHeroes"
                        *ngFor="let heroe of heroes"
                    >
                        <li (click)="selectPlayer(heroe)">
                            <figure>
                                <img
                                    [src]="heroe.thumb"
                                    width="70"
                                    height="70"
                                />
                                <figcaption
                                    [innerText]="heroe.name"
                                ></figcaption>
                            </figure>
                        </li>
                    </ng-template>
                    <li *ngIf="isLoading">Buscando herois...</li>
                    <li *ngIf="!heroes.length && !isLoading">
                        Nenhum resultado encontrado
                    </li>
                </ul>
            </ng-container>
        </div>
    </form>
</section>
